---
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import FeaturedVideos from '@components/FeaturedVideos.astro';
import Footer from '@components/Footer.astro';
import config from '@config/config.json';
import { createOgImage } from '@utils/createOgImage';
import GoogleAnalytics from '@components/GoogleAnalytics.astro';
import CookieConsent from '../components/CookieConsent.astro';
// import NationalAnthem from '../components/NationalAnthem.astro';

import '@styles/global.css';

import { ViewTransitions } from 'astro:transitions';

export interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
  blogpost?: boolean;
  keywords?: string[];
}

const { title, meta_title, description, noindex, blogpost, keywords, image } = Astro.props;

const ogImage = createOgImage({
  title: meta_title ? meta_title : title ? title : config.site.title,
  meta: [config.site.title, config.site.base_url].join(' · '),
});
---

<!doctype html>
<html lang={config.site.lang}>
  <head>
    <GoogleAnalytics />
    <script type="text/javascript">
      if (typeof window !== 'undefined') {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          window.dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-H75PP36701');
      }
    </script>
    <script type="module" async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <!-- theme meta -->
    <meta name="theme-name" content="bookworm-light-astro" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />

    <!-- SEO meta tags -->
    <title>{meta_title ? meta_title : title ? title : config.site.title}</title>
    <meta name="title" content={meta_title ? meta_title : title ? title : config.site.title} />
    <meta name="description" content={description ? description : config.metadata.meta_description} />
    <link rel="canonical" href={`${config.site.base_url}/${Astro.url.pathname.replace('/', '')}`} item-prop="url" />
    {noindex && <meta name="robots" content="noindex,nofollow" />}
    <meta name="author" content={config.metadata.meta_author} />
    <meta name="keywords" content={keywords ? keywords.join(', ') : 'Coders heart,Coders Heart'} />

    <!-- Open Graph meta tags -->
    <meta property="og:title" content={meta_title ? meta_title : title ? title : config.site.title} />
    <meta property="og:description" content={description ? description : config.metadata.meta_description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`${config.site.base_url}/${Astro.url.pathname.replace('/', '')}`} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content={config.site.title} />

    <!-- Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={meta_title ? meta_title : title ? title : config.site.title} />
    <meta name="twitter:description" content={description ? description : config.metadata.meta_description} />
    <meta name="twitter:image" content={image} />

    <!-- Additional meta tags for SEO -->
    <meta name="robots" content="index, follow" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="general" />
    <meta name="revisit-after" content="7 days" />
    <meta name="language" content={config.site.lang} />
    <meta name="geo.region" content="IN" />
    <meta name="geo.placename" content="India" />
    <meta name="geo.position" content="20.5937;78.9629" />
    <meta name="ICBM" content="20.5937, 78.9629" />

    <!--AdSense -->
    <meta name="google-adsense-account" content="ca-pub-6290745948063654" />

    <script is:inline src="/registerSW.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" />
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-zinc-900/95">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
      .font-style {
        font-family: 'DM Sans', system-ui;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        letter-spacing: 10px;
      }
    </style>
    <Header />
    <!-- <NationalAnthem /> -->
    {!blogpost && <Hero />}
    <!-- <div style="display: flex; justify-content: center;align-itemns: center; margin-top: 20px;">
      <p class="font-style" style="display: flex;">
        <svg width="36" height="36" viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M62.9976 4.79391C79.0699 4.79391 93.6264 11.3105 104.157 21.8408C114.687 32.3712 121.206 46.9252 121.206 62.9976C121.206 79.0699 114.687 93.6264 104.157 104.157C93.6264 114.687 79.0699 121.206 62.9976 121.206C46.9449 121.206 32.3884 114.682 21.8556 104.144C11.3129 93.6264 4.79391 79.0699 4.79391 62.9976C4.79391 46.9252 11.3105 32.3712 21.8408 21.8408C32.3712 11.3105 46.9252 4.79391 62.9976 4.79391Z"
            fill="white"></path>
          <path
            d="M62.9975 9.74286C83.7679 9.74286 101.757 21.6267 110.535 38.964H15.4645C24.2452 21.6267 42.2346 9.74286 62.9975 9.74286Z"
            fill="#FF9933"></path>
          <path
            d="M14.8591 85.7981H111.141C102.599 103.807 84.2576 116.257 62.9975 116.257C41.7424 116.257 23.4035 103.807 14.8591 85.7981Z"
            fill="#128807"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M62.9975 44.2723C73.3458 44.2723 81.7326 52.6592 81.7326 63.0025C81.7326 73.3483 73.3458 81.7351 62.9975 81.7351C52.6542 81.7351 44.2673 73.3483 44.2673 63.0025C44.2673 52.6592 52.6542 44.2723 62.9975 44.2723ZM66.273 62.8351C66.2632 62.6604 66.241 62.4881 66.2066 62.3208L69.4796 61.8483L78.8337 58.7623L69.1868 60.7655L66.1205 61.9935C66.0663 61.8261 65.9999 61.6662 65.9211 61.5136L68.9579 60.2118L77.1922 54.8076C76.9707 54.4236 76.7369 54.0496 76.4859 53.6878L76.5032 53.6755C76.1439 53.9536 75.6295 53.8822 75.3514 53.5254C75.2231 53.3553 75.1657 53.1419 75.1914 52.9303C75.2171 52.7188 75.3239 52.5254 75.4892 52.3909C75.2032 52.0532 74.9027 51.7281 74.5885 51.4164V51.4115L67.2377 57.9699L65.1976 60.5711C65.0672 60.4529 64.9269 60.3471 64.7842 60.2511L66.7628 57.6056L71.1949 48.8078L65.7932 57.0445L64.4913 60.0838C64.3387 60.0051 64.1763 59.9386 64.0065 59.8845L65.2394 56.8181L67.2426 47.1713L64.1517 56.5253L63.6841 59.7983C63.5168 59.7639 63.3445 59.7417 63.1698 59.7294L63.5635 56.4465L62.9975 46.6151C62.5546 46.6151 62.1141 46.6372 61.676 46.6692L61.6735 46.6446C61.7326 47.095 61.4151 47.506 60.9673 47.565C60.7552 47.5929 60.5406 47.5367 60.3695 47.4084C60.1984 47.28 60.0844 47.0898 60.0518 46.8784C59.1708 47.0384 58.3168 47.2697 57.4924 47.565C57.6524 47.9785 57.453 48.451 57.0396 48.6183C56.6311 48.7856 56.1586 48.5986 55.9789 48.1926C55.5778 48.3845 55.1841 48.5937 54.8026 48.8127L60.2068 57.0445L61.5087 60.0838C61.6612 60.0051 61.8212 59.9386 61.9885 59.8845L60.7605 56.8181L58.7573 47.1713L61.8458 56.5253L62.3158 59.7983C62.4832 59.7639 62.6555 59.7417 62.8302 59.7294L62.4364 56.4465L62.9975 46.6151C63.443 46.6151 63.8859 46.6348 64.324 46.6692L64.3264 46.6446C64.2986 46.8602 64.3573 47.0781 64.4896 47.2506C64.622 47.423 64.8173 47.5361 65.0327 47.565C65.4732 47.6241 65.8817 47.3165 65.9482 46.8784C66.8292 47.0384 67.6832 47.2697 68.51 47.565C68.3501 47.9785 68.5494 48.451 68.9579 48.6183C69.3714 48.7856 69.8414 48.5986 70.021 48.1926C70.8282 48.574 71.5911 49.0145 72.3171 49.519L72.3294 49.5018C72.0513 49.8611 72.1227 50.3754 72.4795 50.651C72.6527 50.7824 72.8706 50.8403 73.0862 50.8122C73.3017 50.7841 73.4975 50.6723 73.6312 50.5009L73.614 50.5206C73.9495 50.804 74.2729 51.1012 74.5836 51.4115H74.5885L68.0326 58.7672L65.4339 60.8073C65.552 60.9377 65.6553 61.0731 65.7489 61.2208L68.3968 59.2372L77.1922 54.8076C77.4112 55.1915 77.6204 55.5827 77.8124 55.9839C77.6159 56.0688 77.4609 56.2279 77.3811 56.4266C77.3014 56.6252 77.3034 56.8473 77.3866 57.0445C77.554 57.4555 78.0215 57.6549 78.4399 57.4949C78.7328 58.3168 78.9641 59.1757 79.124 60.0567C78.9131 60.0899 78.7235 60.2042 78.5957 60.3752C78.4679 60.5463 78.412 60.7605 78.4399 60.9722C78.4965 61.4201 78.91 61.7351 79.3578 61.676L79.3357 61.681C79.3677 62.1165 79.3898 62.557 79.3898 63.0025L69.5584 62.4414L66.273 62.8351ZM54.8026 48.8127L59.2348 57.6056L61.2183 60.2511C61.0706 60.3471 60.9328 60.4529 60.8048 60.5711L58.7623 57.9699L51.4114 51.4164C51.724 51.1038 52.0513 50.8036 52.386 50.5157C52.6641 50.8577 53.1685 50.9217 53.5205 50.651C53.606 50.5856 53.6778 50.504 53.7317 50.4108C53.7857 50.3176 53.8207 50.2147 53.8349 50.108C53.8491 50.0013 53.8421 49.8928 53.8143 49.7888C53.7865 49.6848 53.7385 49.5872 53.673 49.5018L53.6853 49.519C54.0496 49.268 54.4212 49.0342 54.8026 48.8127ZM51.4114 51.4164L57.9674 58.7672L60.5661 60.8073C60.4505 60.9377 60.3446 61.0731 60.2462 61.2208L57.6007 59.2372L48.8053 54.8076C48.5863 55.189 48.3796 55.5827 48.1901 55.979C48.3851 56.0669 48.5383 56.2273 48.6173 56.4261C48.6963 56.625 48.6949 56.8467 48.6133 57.0445C48.446 57.4555 47.9735 57.6549 47.5625 57.4949C47.4124 57.9133 47.2844 58.3341 47.1688 58.7623L56.5203 61.8483L59.7958 62.3208C59.7589 62.4881 59.7368 62.6604 59.7245 62.8351L56.4441 62.4414L46.6101 63.0025C46.6101 63.4479 46.6348 63.8909 46.6643 64.3265L46.6421 64.3314C47.09 64.2699 47.5035 64.5849 47.5625 65.0377C47.6191 65.4782 47.3115 65.8867 46.8759 65.9531C47.0359 66.8342 47.2648 67.6832 47.5625 68.5101C47.9735 68.3526 48.446 68.5519 48.6133 68.9604C48.7807 69.3714 48.5937 69.8463 48.1901 70.026C48.3796 70.4271 48.5863 70.8159 48.8053 71.1974L57.6007 66.7677L60.2462 64.7867C60.3446 64.9319 60.4505 65.0721 60.5661 65.2001L57.9674 67.2427L51.409 74.5935H51.4114C51.724 74.9036 52.0513 75.2038 52.386 75.4942C52.6641 75.1497 53.1685 75.0832 53.5205 75.3564C53.8798 75.632 53.9487 76.1488 53.673 76.5056L53.6853 76.4909C54.0471 76.7443 54.4212 76.9781 54.8026 77.1996L60.2068 68.9604L61.5087 65.9211C61.6612 66.0024 61.8212 66.0688 61.9885 66.1229L60.7605 69.1917L58.7573 78.8361C59.1831 78.9493 59.6162 79.0478 60.0518 79.129C60.0838 78.9172 60.1976 78.7263 60.3688 78.5975C60.54 78.4686 60.7548 78.4121 60.9673 78.4399C61.4078 78.5015 61.7203 78.9001 61.6735 79.3382C62.1091 79.3751 62.5496 79.3948 62.9975 79.3948L63.5635 69.5584L63.1698 66.2755C63.3445 66.2681 63.5168 66.2435 63.6841 66.2091L64.1517 69.4821L67.2426 78.8361L65.2394 69.1917L64.0065 66.1229C64.1763 66.0688 64.3387 65.9999 64.4913 65.9211L65.7932 68.9604L71.1949 77.1996C71.5764 76.9781 71.9553 76.7394 72.3171 76.4909L72.3294 76.5056C72.0513 76.1488 72.1227 75.632 72.4795 75.3564C72.8314 75.0832 73.3384 75.1497 73.6116 75.4942C73.9487 75.2087 74.276 74.9036 74.5885 74.5935L68.0326 67.2427L65.4339 65.2001C65.552 65.0721 65.6553 64.9319 65.7489 64.7867L68.3968 66.7677L77.1971 71.1974L68.9579 65.7932L65.9162 64.4938C65.9999 64.3388 66.0663 64.1788 66.1205 64.0115L69.1868 65.2444L78.8287 67.2451C78.9419 66.8218 79.0428 66.3936 79.124 65.9531C78.9131 65.92 78.7235 65.8057 78.5957 65.6346C78.4679 65.4636 78.412 65.2494 78.4399 65.0377C78.4535 64.9309 78.4881 64.8279 78.5416 64.7345C78.5952 64.6411 78.6667 64.5592 78.752 64.4936C78.8373 64.428 78.9347 64.3798 79.0387 64.352C79.1427 64.3242 79.2511 64.3172 79.3578 64.3314L79.3357 64.3265C79.3701 63.8909 79.3898 63.4504 79.3898 63.0025L69.5584 63.5636L66.273 63.1698C66.2632 63.3495 66.241 63.5217 66.2066 63.6891L69.4796 64.1567L78.8287 67.2451C78.7131 67.6758 78.5876 68.0966 78.4399 68.5101C78.0215 68.3526 77.554 68.5519 77.3866 68.9604C77.2144 69.3788 77.4063 69.8488 77.8124 70.026C77.4351 70.8262 76.9914 71.5935 76.4859 72.3196L76.5032 72.3319C76.4176 72.2662 76.3198 72.218 76.2156 72.1901C76.1113 72.1622 76.0026 72.1552 75.8957 72.1693C75.7887 72.1835 75.6855 72.2186 75.5922 72.2727C75.4988 72.3268 75.417 72.3987 75.3514 72.4845C75.0807 72.8339 75.1472 73.3409 75.4892 73.614C75.2013 73.9516 74.9009 74.2783 74.5885 74.5935L67.2377 68.0376L65.1976 65.4388C65.0672 65.552 64.9269 65.6603 64.7842 65.7538L66.7628 68.3993L71.1949 77.1996C70.8135 77.4186 70.4222 77.6254 70.021 77.8149C69.8463 77.4113 69.3738 77.2193 68.9579 77.3916C68.5396 77.5614 68.3427 78.0413 68.5174 78.4596L68.51 78.4424C67.6766 78.7419 66.8197 78.9716 65.9482 79.129C65.9162 78.9172 65.8024 78.7263 65.6312 78.5975C65.46 78.4686 65.2451 78.4121 65.0327 78.4399C64.5922 78.5015 64.2797 78.9001 64.3264 79.3382C63.8909 79.3702 63.443 79.3948 62.9975 79.3948L62.4364 69.5584L62.8302 66.2755C62.6555 66.2681 62.4832 66.2435 62.3158 66.2091L61.8458 69.4821L58.7573 78.8361C58.3267 78.7229 57.9009 78.5901 57.4924 78.4424C57.5709 78.2429 57.5673 78.0205 57.4825 77.8237C57.3977 77.6269 57.2385 77.4715 57.0396 77.3916C56.6262 77.2193 56.1537 77.4113 55.9765 77.8149C55.5769 77.626 55.1853 77.4208 54.8026 77.1996L59.2348 68.3993L61.2183 65.7538C61.0706 65.6603 60.9328 65.552 60.8048 65.4388L58.7623 68.0376L51.409 74.5935V74.5886C51.0964 74.276 50.7962 73.9487 50.5107 73.614C50.8553 73.3409 50.9168 72.8339 50.6485 72.4845C50.5832 72.3988 50.5017 72.3269 50.4085 72.2728C50.3153 72.2187 50.2124 72.1836 50.1056 72.1694C49.9988 72.1553 49.8903 72.1623 49.7862 72.1902C49.6822 72.2181 49.5847 72.2662 49.4993 72.3319L49.5141 72.3196C49.2655 71.9578 49.0268 71.5813 48.8053 71.1974L57.0396 65.7932L60.0789 64.4938C60.0026 64.3388 59.9361 64.1788 59.8795 64.0115L56.8132 65.2444L47.1688 67.2451L56.5203 64.1567L59.7958 63.6891C59.7589 63.5217 59.7368 63.3495 59.7245 63.1698L56.4441 63.5636L46.6101 63.0025C46.6101 62.5546 46.6298 62.1165 46.6643 61.681L46.6421 61.676C47.09 61.7351 47.5035 61.4201 47.5625 60.9722C47.6191 60.5317 47.3115 60.1232 46.8759 60.0567C46.9571 59.6187 47.0556 59.188 47.1688 58.7623L56.8132 60.7655L59.8795 61.9935C59.9361 61.8261 60.0026 61.6662 60.0789 61.5136L57.0396 60.2118L48.8053 54.8076C49.0268 54.4236 49.2606 54.0496 49.5141 53.6878L49.4993 53.6755C49.8561 53.9536 50.3705 53.8822 50.6485 53.5254C50.9168 53.1735 50.8553 52.6665 50.5107 52.3909C50.8011 52.0562 51.1014 51.7289 51.4114 51.4164Z"
            fill="#000088"></path>
        </svg>
        <span style="margin-top: 4px;">&nbsp;78th Independence Day </span>
        <svg width="36" height="36" viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M62.9976 4.79391C79.0699 4.79391 93.6264 11.3105 104.157 21.8408C114.687 32.3712 121.206 46.9252 121.206 62.9976C121.206 79.0699 114.687 93.6264 104.157 104.157C93.6264 114.687 79.0699 121.206 62.9976 121.206C46.9449 121.206 32.3884 114.682 21.8556 104.144C11.3129 93.6264 4.79391 79.0699 4.79391 62.9976C4.79391 46.9252 11.3105 32.3712 21.8408 21.8408C32.3712 11.3105 46.9252 4.79391 62.9976 4.79391Z"
            fill="white"></path>
          <path
            d="M62.9975 9.74286C83.7679 9.74286 101.757 21.6267 110.535 38.964H15.4645C24.2452 21.6267 42.2346 9.74286 62.9975 9.74286Z"
            fill="#FF9933"></path>
          <path
            d="M14.8591 85.7981H111.141C102.599 103.807 84.2576 116.257 62.9975 116.257C41.7424 116.257 23.4035 103.807 14.8591 85.7981Z"
            fill="#128807"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M62.9975 44.2723C73.3458 44.2723 81.7326 52.6592 81.7326 63.0025C81.7326 73.3483 73.3458 81.7351 62.9975 81.7351C52.6542 81.7351 44.2673 73.3483 44.2673 63.0025C44.2673 52.6592 52.6542 44.2723 62.9975 44.2723ZM66.273 62.8351C66.2632 62.6604 66.241 62.4881 66.2066 62.3208L69.4796 61.8483L78.8337 58.7623L69.1868 60.7655L66.1205 61.9935C66.0663 61.8261 65.9999 61.6662 65.9211 61.5136L68.9579 60.2118L77.1922 54.8076C76.9707 54.4236 76.7369 54.0496 76.4859 53.6878L76.5032 53.6755C76.1439 53.9536 75.6295 53.8822 75.3514 53.5254C75.2231 53.3553 75.1657 53.1419 75.1914 52.9303C75.2171 52.7188 75.3239 52.5254 75.4892 52.3909C75.2032 52.0532 74.9027 51.7281 74.5885 51.4164V51.4115L67.2377 57.9699L65.1976 60.5711C65.0672 60.4529 64.9269 60.3471 64.7842 60.2511L66.7628 57.6056L71.1949 48.8078L65.7932 57.0445L64.4913 60.0838C64.3387 60.0051 64.1763 59.9386 64.0065 59.8845L65.2394 56.8181L67.2426 47.1713L64.1517 56.5253L63.6841 59.7983C63.5168 59.7639 63.3445 59.7417 63.1698 59.7294L63.5635 56.4465L62.9975 46.6151C62.5546 46.6151 62.1141 46.6372 61.676 46.6692L61.6735 46.6446C61.7326 47.095 61.4151 47.506 60.9673 47.565C60.7552 47.5929 60.5406 47.5367 60.3695 47.4084C60.1984 47.28 60.0844 47.0898 60.0518 46.8784C59.1708 47.0384 58.3168 47.2697 57.4924 47.565C57.6524 47.9785 57.453 48.451 57.0396 48.6183C56.6311 48.7856 56.1586 48.5986 55.9789 48.1926C55.5778 48.3845 55.1841 48.5937 54.8026 48.8127L60.2068 57.0445L61.5087 60.0838C61.6612 60.0051 61.8212 59.9386 61.9885 59.8845L60.7605 56.8181L58.7573 47.1713L61.8458 56.5253L62.3158 59.7983C62.4832 59.7639 62.6555 59.7417 62.8302 59.7294L62.4364 56.4465L62.9975 46.6151C63.443 46.6151 63.8859 46.6348 64.324 46.6692L64.3264 46.6446C64.2986 46.8602 64.3573 47.0781 64.4896 47.2506C64.622 47.423 64.8173 47.5361 65.0327 47.565C65.4732 47.6241 65.8817 47.3165 65.9482 46.8784C66.8292 47.0384 67.6832 47.2697 68.51 47.565C68.3501 47.9785 68.5494 48.451 68.9579 48.6183C69.3714 48.7856 69.8414 48.5986 70.021 48.1926C70.8282 48.574 71.5911 49.0145 72.3171 49.519L72.3294 49.5018C72.0513 49.8611 72.1227 50.3754 72.4795 50.651C72.6527 50.7824 72.8706 50.8403 73.0862 50.8122C73.3017 50.7841 73.4975 50.6723 73.6312 50.5009L73.614 50.5206C73.9495 50.804 74.2729 51.1012 74.5836 51.4115H74.5885L68.0326 58.7672L65.4339 60.8073C65.552 60.9377 65.6553 61.0731 65.7489 61.2208L68.3968 59.2372L77.1922 54.8076C77.4112 55.1915 77.6204 55.5827 77.8124 55.9839C77.6159 56.0688 77.4609 56.2279 77.3811 56.4266C77.3014 56.6252 77.3034 56.8473 77.3866 57.0445C77.554 57.4555 78.0215 57.6549 78.4399 57.4949C78.7328 58.3168 78.9641 59.1757 79.124 60.0567C78.9131 60.0899 78.7235 60.2042 78.5957 60.3752C78.4679 60.5463 78.412 60.7605 78.4399 60.9722C78.4965 61.4201 78.91 61.7351 79.3578 61.676L79.3357 61.681C79.3677 62.1165 79.3898 62.557 79.3898 63.0025L69.5584 62.4414L66.273 62.8351ZM54.8026 48.8127L59.2348 57.6056L61.2183 60.2511C61.0706 60.3471 60.9328 60.4529 60.8048 60.5711L58.7623 57.9699L51.4114 51.4164C51.724 51.1038 52.0513 50.8036 52.386 50.5157C52.6641 50.8577 53.1685 50.9217 53.5205 50.651C53.606 50.5856 53.6778 50.504 53.7317 50.4108C53.7857 50.3176 53.8207 50.2147 53.8349 50.108C53.8491 50.0013 53.8421 49.8928 53.8143 49.7888C53.7865 49.6848 53.7385 49.5872 53.673 49.5018L53.6853 49.519C54.0496 49.268 54.4212 49.0342 54.8026 48.8127ZM51.4114 51.4164L57.9674 58.7672L60.5661 60.8073C60.4505 60.9377 60.3446 61.0731 60.2462 61.2208L57.6007 59.2372L48.8053 54.8076C48.5863 55.189 48.3796 55.5827 48.1901 55.979C48.3851 56.0669 48.5383 56.2273 48.6173 56.4261C48.6963 56.625 48.6949 56.8467 48.6133 57.0445C48.446 57.4555 47.9735 57.6549 47.5625 57.4949C47.4124 57.9133 47.2844 58.3341 47.1688 58.7623L56.5203 61.8483L59.7958 62.3208C59.7589 62.4881 59.7368 62.6604 59.7245 62.8351L56.4441 62.4414L46.6101 63.0025C46.6101 63.4479 46.6348 63.8909 46.6643 64.3265L46.6421 64.3314C47.09 64.2699 47.5035 64.5849 47.5625 65.0377C47.6191 65.4782 47.3115 65.8867 46.8759 65.9531C47.0359 66.8342 47.2648 67.6832 47.5625 68.5101C47.9735 68.3526 48.446 68.5519 48.6133 68.9604C48.7807 69.3714 48.5937 69.8463 48.1901 70.026C48.3796 70.4271 48.5863 70.8159 48.8053 71.1974L57.6007 66.7677L60.2462 64.7867C60.3446 64.9319 60.4505 65.0721 60.5661 65.2001L57.9674 67.2427L51.409 74.5935H51.4114C51.724 74.9036 52.0513 75.2038 52.386 75.4942C52.6641 75.1497 53.1685 75.0832 53.5205 75.3564C53.8798 75.632 53.9487 76.1488 53.673 76.5056L53.6853 76.4909C54.0471 76.7443 54.4212 76.9781 54.8026 77.1996L60.2068 68.9604L61.5087 65.9211C61.6612 66.0024 61.8212 66.0688 61.9885 66.1229L60.7605 69.1917L58.7573 78.8361C59.1831 78.9493 59.6162 79.0478 60.0518 79.129C60.0838 78.9172 60.1976 78.7263 60.3688 78.5975C60.54 78.4686 60.7548 78.4121 60.9673 78.4399C61.4078 78.5015 61.7203 78.9001 61.6735 79.3382C62.1091 79.3751 62.5496 79.3948 62.9975 79.3948L63.5635 69.5584L63.1698 66.2755C63.3445 66.2681 63.5168 66.2435 63.6841 66.2091L64.1517 69.4821L67.2426 78.8361L65.2394 69.1917L64.0065 66.1229C64.1763 66.0688 64.3387 65.9999 64.4913 65.9211L65.7932 68.9604L71.1949 77.1996C71.5764 76.9781 71.9553 76.7394 72.3171 76.4909L72.3294 76.5056C72.0513 76.1488 72.1227 75.632 72.4795 75.3564C72.8314 75.0832 73.3384 75.1497 73.6116 75.4942C73.9487 75.2087 74.276 74.9036 74.5885 74.5935L68.0326 67.2427L65.4339 65.2001C65.552 65.0721 65.6553 64.9319 65.7489 64.7867L68.3968 66.7677L77.1971 71.1974L68.9579 65.7932L65.9162 64.4938C65.9999 64.3388 66.0663 64.1788 66.1205 64.0115L69.1868 65.2444L78.8287 67.2451C78.9419 66.8218 79.0428 66.3936 79.124 65.9531C78.9131 65.92 78.7235 65.8057 78.5957 65.6346C78.4679 65.4636 78.412 65.2494 78.4399 65.0377C78.4535 64.9309 78.4881 64.8279 78.5416 64.7345C78.5952 64.6411 78.6667 64.5592 78.752 64.4936C78.8373 64.428 78.9347 64.3798 79.0387 64.352C79.1427 64.3242 79.2511 64.3172 79.3578 64.3314L79.3357 64.3265C79.3701 63.8909 79.3898 63.4504 79.3898 63.0025L69.5584 63.5636L66.273 63.1698C66.2632 63.3495 66.241 63.5217 66.2066 63.6891L69.4796 64.1567L78.8287 67.2451C78.7131 67.6758 78.5876 68.0966 78.4399 68.5101C78.0215 68.3526 77.554 68.5519 77.3866 68.9604C77.2144 69.3788 77.4063 69.8488 77.8124 70.026C77.4351 70.8262 76.9914 71.5935 76.4859 72.3196L76.5032 72.3319C76.4176 72.2662 76.3198 72.218 76.2156 72.1901C76.1113 72.1622 76.0026 72.1552 75.8957 72.1693C75.7887 72.1835 75.6855 72.2186 75.5922 72.2727C75.4988 72.3268 75.417 72.3987 75.3514 72.4845C75.0807 72.8339 75.1472 73.3409 75.4892 73.614C75.2013 73.9516 74.9009 74.2783 74.5885 74.5935L67.2377 68.0376L65.1976 65.4388C65.0672 65.552 64.9269 65.6603 64.7842 65.7538L66.7628 68.3993L71.1949 77.1996C70.8135 77.4186 70.4222 77.6254 70.021 77.8149C69.8463 77.4113 69.3738 77.2193 68.9579 77.3916C68.5396 77.5614 68.3427 78.0413 68.5174 78.4596L68.51 78.4424C67.6766 78.7419 66.8197 78.9716 65.9482 79.129C65.9162 78.9172 65.8024 78.7263 65.6312 78.5975C65.46 78.4686 65.2451 78.4121 65.0327 78.4399C64.5922 78.5015 64.2797 78.9001 64.3264 79.3382C63.8909 79.3702 63.443 79.3948 62.9975 79.3948L62.4364 69.5584L62.8302 66.2755C62.6555 66.2681 62.4832 66.2435 62.3158 66.2091L61.8458 69.4821L58.7573 78.8361C58.3267 78.7229 57.9009 78.5901 57.4924 78.4424C57.5709 78.2429 57.5673 78.0205 57.4825 77.8237C57.3977 77.6269 57.2385 77.4715 57.0396 77.3916C56.6262 77.2193 56.1537 77.4113 55.9765 77.8149C55.5769 77.626 55.1853 77.4208 54.8026 77.1996L59.2348 68.3993L61.2183 65.7538C61.0706 65.6603 60.9328 65.552 60.8048 65.4388L58.7623 68.0376L51.409 74.5935V74.5886C51.0964 74.276 50.7962 73.9487 50.5107 73.614C50.8553 73.3409 50.9168 72.8339 50.6485 72.4845C50.5832 72.3988 50.5017 72.3269 50.4085 72.2728C50.3153 72.2187 50.2124 72.1836 50.1056 72.1694C49.9988 72.1553 49.8903 72.1623 49.7862 72.1902C49.6822 72.2181 49.5847 72.2662 49.4993 72.3319L49.5141 72.3196C49.2655 71.9578 49.0268 71.5813 48.8053 71.1974L57.0396 65.7932L60.0789 64.4938C60.0026 64.3388 59.9361 64.1788 59.8795 64.0115L56.8132 65.2444L47.1688 67.2451L56.5203 64.1567L59.7958 63.6891C59.7589 63.5217 59.7368 63.3495 59.7245 63.1698L56.4441 63.5636L46.6101 63.0025C46.6101 62.5546 46.6298 62.1165 46.6643 61.681L46.6421 61.676C47.09 61.7351 47.5035 61.4201 47.5625 60.9722C47.6191 60.5317 47.3115 60.1232 46.8759 60.0567C46.9571 59.6187 47.0556 59.188 47.1688 58.7623L56.8132 60.7655L59.8795 61.9935C59.9361 61.8261 60.0026 61.6662 60.0789 61.5136L57.0396 60.2118L48.8053 54.8076C49.0268 54.4236 49.2606 54.0496 49.5141 53.6878L49.4993 53.6755C49.8561 53.9536 50.3705 53.8822 50.6485 53.5254C50.9168 53.1735 50.8553 52.6665 50.5107 52.3909C50.8011 52.0562 51.1014 51.7289 51.4114 51.4164Z"
            fill="#000088"></path>
        </svg>
      </p>
    </div> -->
    <main class="mx-auto max-w-screen-lg px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <slot />
    </main>
    {!blogpost && config.features.youtube && <FeaturedVideos />}
    <Footer />
    <CookieConsent />
    <script>
      // This is a hack to get vite-plugin-pwa to generate a sw.js file.
      // Do not remove this script tag.
    </script>
    <script type="module" src="../../scripts/cookieconsent-config.js"></script>
    <amp-ad
      width="100vw"
      height="320"
      type="adsense"
      data-ad-client="ca-pub-6290745948063654"
      data-ad-slot="4169751934"
      data-auto-format="rspv"
      data-full-width=""
    >
      <div overflow=""></div>
    </amp-ad>
  </body>
</html>
